<div class="container">
  <div class="files-container">
    <div class="files-container-title">
      <h2>Explorateur de fichiers</h2>
    </div>
    <div class="create-folder">
      <h4>Créer un nouveau dossier</h4>
      <form
        class="folder-form"
        [formGroup]="folderForm"
        (ngSubmit)="createFolder()"
      >
        <div class="create-folder-field">
          <input
            [className]="
              folderExist === true
                ? 'create-folder-input-error'
                : 'create-folder-input'
            "
            type="text"
            formControlName="folderName"
            placeholder="nom du dossier"
          />
          <div
            *ngIf="folderExist === true"
            class="folder-already-exist-error-message"
          >
            Le dossier existe déjà
          </div>
        </div>

        <div class="folder-button">
          <button type="submit" [disabled]="folderForm.invalid">
            <i class="fas fa-folder-plus"></i>
          </button>
        </div>
      </form>
    </div>

    <div class="folders">
      <div class="scroll-folders" *ngIf="folders.lenght !== 0">
        <div class="folder" *ngFor="let folder of folders | keyvalue">
          <div class="folder-header" *ngIf="folder.value !== undefined">
            <div class="folder-name">
              <h3>{{ folder.value.name }}</h3>
            </div>
            <div class="folder-buttons">
              <div class="delete-folder">
                <button
                  *ngIf="folder.value !== undefined"
                  (click)="deleteFolder(folder.value.name)"
                >
                  Supprimer le dossier
                  <i class="fas fa-trash"></i>
                </button>
              </div>
              <div class="add-picture">
                <input
                  type="file"
                  (change)="addPicture($event, folder.value.name)"
                  #fileInput
                  accept=".png, .jpg, .jpeg"
                />
                <button
                  [className]="
                    folder.value.pictureErrorMessages != null
                      ? 'add-picture-button-error'
                      : 'add-picture-button'
                  "
                  (click)="fileInput.click()"
                >
                  Ajouter une image<i class="far fa-image"></i>
                </button>
                <div
                  *ngIf="folder.value.pictureErrorMessages != null"
                  class="picture-format-error-message"
                >
                  <span
                    *ngFor="let message of folder.value.pictureErrorMessages"
                  >
                    {{ message }}
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="files" *ngIf="folder.value !== undefined">
            <div class="file" *ngFor="let file of folder.value.files">
              <button
                (click)="
                  openPictureInWorkplace(
                    path + '/' + folder.value.name + '/' + file
                  )
                "
              >
                <img
                  [src]="
                    _domSanitizer.bypassSecurityTrustUrl(
                      path + '/' + folder.value.name + '/' + file
                    )
                  "
                  [alt]="file"
                />
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="workplace-container">
    <app-picture-workplace
      [picturePath]="currentPicture"
      *ngIf="currentPicture !== undefined"
    ></app-picture-workplace>
    <div
      class="picture-workplace-container"
      *ngIf="currentPicture === undefined"
    >
      <div class="picture-workplace-header"></div>
      <div class="picture"></div>
    </div>
  </div>
</div>
