body,
div,
input,
p,
h1,
h2,
h3,
h4,
a {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.files-container {
  background: #1e2324da;
  height: 100%;
  width: 30%;
}

.picture-workplace {
  background: #1e2324ab;
  height: 100%;
  width: 70%;
}

.create-folder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.folder-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

[class^="create-folder-input"] {
  border: 1px solid #cccccc;
  border-radius: 2px;
  margin-top: 6px;
  width: 100%;
}

.create-folder-input:focus {
  border: 1px solid #aaaaaa;
  outline-color: transparent;
}

.create-folder-input-error {
  border: 1px solid #ff3860;
}

.create-folder-input-error:focus {
  outline-color: transparent;
}

.folder-already-exist-message {
  font-size: 12px;
  color: #ff3860;
}

.folder-button button {
  border: none;
  text-decoration: none;
  background: transparent;
  color: #157f97b2;
  font-size: 30px;
}

.folder-button button:disabled {
  color: grey;
}

.folder-button button:focus {
  outline-color: transparent;
  color: #157f97;
}

.folders {
  position: relative;
  display: flex;
  min-height: 0;
  max-height: 100vh;
  height: 100%;
  flex: 1 1 auto;
  outline: 0;
  overflow: hidden;
}

.scroll-folders {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.folder-header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.folder-header button {
  border: none;
  text-decoration: none;
  background: transparent;
  color: #f0f0f0b2;
  font-size: 15px;
}
.folder-header i {
  margin: 5px;
}

.folder-header [type="file"] {
  display: none;
}

.files {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

.file {
  width: 100px;
  height: 100px;
}

.files img {
  max-width: 100px;
  max-height: 100px;
}
